<section class="hero">
    <div class="hero-content">
      <h1>¡Hola! Soy Claudia Castaño</h1>
      <h2>{{ currentWord }}</h2>
      <p>
        Impulsada por el aprendizaje continuo y el desarrollo de soluciones tecnológicas que generan impacto real. 
        En la programación descubrí el equilibrio entre lógica, innovación y mi propósito.
      </p>
    </div>
  
    <!-- Botón flotante -->
    <button 
        class="whatsapp-float" 
        (click)="onChat()" 
        pTooltip="¡Chatea conmigo!" 
        tooltipPosition="left"
    >
        <i class="pi pi-whatsapp"></i>
    </button>
</section>
  
  
  