<div class="surface-card shadow-2 border-round p-5 mt-5 mx-auto" style="max-width: 1000px;">
  <div class="grid md:align-items-center">
    <!-- Imagen -->
    <div class="col-12 md:col-5 flex justify-content-center mb-4 md:mb-0">
      <div class="foto-container">
        <img src="assets/yo_play.jpg" alt="Sobre mí" class="foto-expandible" />
      </div>
    </div>

    <!-- Texto -->
    <div class="col-12 md:col-7">
      <h2 class="text-3xl mb-3 text-primary text-center md:text-left">Sobre mí</h2>
      <p class="text-base text-700 line-height-3 mb-3 text-center md:text-left">
        Trabajo en el sector bancario, donde he aprendido disciplina y resolución de problemas,
        pero mi curiosidad me llevó a descubrir el desarrollo de software.
      </p>
      <p class="text-base text-700 line-height-3 mb-3 text-center md:text-left">
        Ahora, equilibro mi profesión, mis estudios y mi pasión por el deporte. En este viaje,
        he encontrado en la tecnología una forma de crecer y crear soluciones que faciliten
        la vida de las personas.
      </p>
      <p class="text-base text-700 line-height-3 mb-4 text-center md:text-left">
        El desarrollo se ha convertido en una nueva pasión que me reta e inspira a través del código.
      </p>
      <div class="text-center md:text-left">
        <button pButton type="button" icon="pi pi-download" label="Descargar CV" class="p-button-primary"></button>
      </div>
    </div>
  </div>
</div>


  
  
  
  